@use './config';

* {
  font-family: config.$font-family;
}

html,
body {
  margin: 0;
  padding: 0;
  background: config.$color2;
}

.App {
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1800px;
  }
}

@media screen and (max-width: 1000px) {
  .App {
    .flex {
      flex-direction: column;
      align-items: center;
    }
  }
}
